*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(248, 182, 2),rgb(1, 241, 121));
text-align: center;
}
.cop{
    width: 200px;
    height: 150px;
}
#navbar{
    width: 100%;
    padding: 30px;
    background:linear-gradient(rgb(0, 255, 170), rgb(255, 83, 3));
    text-align: center;
    font-family: Times New Roman;
    font-size: xx-large;
}
#logo{
    float: left;
}
a{
    color: rgb(112, 241, 6);
    justify-content: space-around;
    text-decoration: none;
    margin-left: 100px;
}
h1{
    color: rgb(3, 67, 97);
    font-size: 50px;
    font-family: algerian;
    text-align: center;
}
h3{
    color: rgb(2, 121, 8);
    font-size: 25px;
    font-family: algerian;
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}